# Sui network: one of localnet | devnet | testnet | mainnet
VITE_SUI_NETWORK=testnet

# Optional: override with a custom RPC URL
# VITE_SUI_RPC_URL=https://your.custom.node

# Marketplace contract configuration
VITE_PACKAGE_ID=0x151b652a953e18b13144597446753dc25a69108a2a890cdad8ce83b937b91038
VITE_MODULE_NFT=my_nft_marketplace
VITE_MODULE_MARKET=my_nft_marketplace
VITE_FN_MINT=mint
VITE_FN_LIST=list
VITE_FN_BUY=buy
VITE_FN_CANCEL=cancel
VITE_FN_WITHDRAW=withdraw

# Object type strings (fully qualified)
VITE_TYPE_NFT=0x151b652a953e18b13144597446753dc25a69108a2a890cdad8ce83b937b91038::my_nft_marketplace::NFT
VITE_TYPE_LISTING=0x151b652a953e18b13144597446753dc25a69108a2a890cdad8ce83b937b91038::my_nft_marketplace::Listing

# Marketplace address - all listed NFTs will be fetched from this address (0x...)
VITE_MARKETPLACE_ADDRESS=

# Admin owner address (0x...)
VITE_ADMIN_ADDRESS=0x3663553ea726ab5f185b9144c114861915e415b503a1fd1867791e9d17ace4d4

